

    .container {
      max-width: 900px;
      margin: auto;
      margin-top: 10rem;
    }

    .order {
      background: white;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    }

    .items {
      margin-top: 10px;
      border-top: 1px solid #eee;
      padding-top: 10px;
    }

    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .status {
      padding: 5px 10px;
      background: #ddd;
      display: inline-block;
      border-radius: 5px;
      font-size: 12px;
      margin-top: 5px;
    }

    .total {
      font-weight: bold;
      margin-top: 10px;
      font-size: 15px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .empty {
      background: white;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
    }

    .item img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 10px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .item-name {
      display: flex;
      flex-direction: column;
    }

    .price {
      font-weight: bold;
    }

    .tracking-timeline {
  margin-top: 15px;
  border-left: 2px solid #ddd;
  padding-left: 20px;
}

.tracking-step {
  position: relative;
  margin-bottom: 25px;
}

.tracking-step .dot {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  position: absolute;
  left: -28px;
  top: 5px;
}
/* tracking */
.tracking-step .dot.active {
  background: green;
}

.tracking-content h4 {
  margin: 0;
  font-size: 15px;
  color: #222;
}

.tracking-content p {
  margin: 3px 0;
  color: #666;
}

.tracking-content small {
  color: #999;
}
  
